
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');

body footer a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: lighter;
    font-size: 3rem;
}

nav{
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    
    z-index: 10;
}

nav h1{
    padding: 0px;
    margin: 0px;
}





.blogbody{
    padding-top: 120px;
}
.blogs time , .readmore, h5{
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
}
.blogs p{
    
    letter-spacing: .03em;
    font-style: italic;

}

time , .readmore{
    text-transform: uppercase;
    font-weight: bold;
}

/* style gallery page */

.imageContainer {
    padding: 0px;
    margin-bottom: 60px;
    
}
.imageContainer img{
    padding: 5px;
}

.container .row2{
    padding: 40px;
}


/* style motivation page*/

.myvideo-container video{
    width: 100%;
    height: 300px;
}


 

  /* to style background video */
  .auter-video-container{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }  

  .video-container{
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      
      
  }
  .video-container video{
   
        min-width: 100%;
        min-height: 100%;
    
  }


  

